* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}


main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('img_22.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
}

nav {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
}


.navitems a { 
    text-decoration: none;
    cursor: pointer;
    color: white;
    border: none;
}

.btn {
    display: inline-block;
    text-align: center;
    padding: 15px 20px; 
    width: 150px;
    border: 1px solid white;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}



.center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    gap: 40px;
}

.center .box {
    padding: 10px 15px;
    text-align: center;
    width: 30%;
    border-radius: 40px;
    background: transparent;
    backdrop-filter: blur(20px);
    color: rgba(255, 255, 255, 0.80);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

.heading h2 {
    color: white;
    font-size: 62px;
}

.heading h1 {
    color: white;
    font-size: 92px;
}


.explorebtn {
    display: inline-block;
    text-align: center;
    padding: 15px 20px; 
    width: 200px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}


.bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 14px;
    padding: 50px;
}

.leftbox {
    display: flex;
    max-width: 300px;
    gap: 15px;
}

.rightbox {
    display: flex;
    max-width: 300px;
    gap: 15px;

}

.ri-compass-discover-fill, .ri-group-2-fill {
    font-size: 50px;
    color: white;
}
